<div class="h-full w-full">
  <div class="w-full flex flex-row p-10">
    @for (item of userDetails(); track $index) {

    <div class="flex flex-row relative h-[40px] w-full items-center">
      <div class="absolute top-[-10px] text-center uppercase">
        {{ item.displayname }}
      </div>

      <div class="initial-step z-20" [class.done-step]="item.state"></div>
      <mat-progress-bar
        class="bg-slate-800 w-full"
        mode="determinate"
        [value]="item.state ? 100 : 0"
      ></mat-progress-bar>
    </div>
    }
  </div>

  <div class="grid h-[calc(100%-190px)] w-full overflow-auto">
    <form [formGroup]="userDetailsForm">
      <div
        formGroupName="uploadResume"
        class="flex justify-center w-full"
        *ngIf="currentStateIndex() === 0"
      >
        <input class="hidden" type="file" #fileUpload formControlName="file" />

        <div
          class="w-[200px] flex justify-center items-center text-center h-[200px] bg-blue-100 border-dotted border-blue-500 border-2"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="upload"
            class="cursor-pointer"
            (click)="fileUpload.click()"
          />
        </div>
      </div>
      <div
        formGroupName="myInformation"
        *ngIf="currentStateIndex() === 1"
        class="flex flex-col gap-y-5 p-10"
      >
        <mat-form-field [appearance]="'outline'">
          <mat-label>First Name</mat-label>
          <input
            matInput
            formControlName="firstName"
            type="text"
            required
            placeholder=""
          />
        </mat-form-field>

        <mat-form-field [appearance]="'outline'">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            formControlName="lastName"
            type="text"
            required
            placeholder=""
          />
        </mat-form-field>

        <mat-form-field [appearance]="'outline'">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
            required
            placeholder=""
          />
        </mat-form-field>
      </div>
      <div
        formArrayName="address"
        class="p-10"
        *ngIf="currentStateIndex() === 2"
      >
        @for (item of addressForm.controls; track $index) {

        <div [formGroupName]="$index" class="grid grid-cols-2 gap-x-5">
          <mat-form-field [appearance]="'outline'">
            <mat-label>Country</mat-label>
            <input
              matInput
              formControlName="country"
              type="text"
              required
              placeholder=""
            />
          </mat-form-field>

          <mat-form-field [appearance]="'outline'">
            <mat-label>Address Line 1</mat-label>
            <input
              matInput
              formControlName="address1"
              type="text"
              required
              placeholder=""
            />
          </mat-form-field>
          <mat-form-field [appearance]="'outline'">
            <mat-label>Address Line 2</mat-label>
            <input
              matInput
              formControlName="address2"
              type="text"
              required
              placeholder=""
            />
          </mat-form-field>

          <mat-form-field [appearance]="'outline'">
            <mat-label>Zip Code</mat-label>
            <input
              matInput
              formControlName="zipCode"
              type="text"
              required
              placeholder=""
            />
          </mat-form-field>

          <mat-form-field [appearance]="'outline'">
            <mat-label>State</mat-label>
            <input
              matInput
              formControlName="state"
              type="text"
              required
              placeholder=""
            />
          </mat-form-field>

          <mat-form-field [appearance]="'outline'">
            <mat-label>City</mat-label>
            <input
              matInput
              formControlName="city"
              type="text"
              required
              placeholder=""
            />
          </mat-form-field>
        </div>

        }
        <button mat-raised-button (click)="addNewAddress()">Add Address</button>
      </div>
      <div
        formGroupName="experience"
        *ngIf="currentStateIndex() === 3"
        class="p-10 flex flex-col gap-y-5"
      >
        <mat-form-field [appearance]="'outline'">
          <mat-label>Total Experience</mat-label>
          <input
            matInput
            formControlName="totalExperience"
            type="text"
            required
            placeholder=""
          />
        </mat-form-field>

        <div formArrayName="experiences">
          @for (item of getExperienceForm.controls; track $index) {
          <p class="text-3xl pb-2">Experience {{$index === 0 ? 'Recent' : $index + 1}}</p>

          <div [formGroupName]="$index" class="flex flex-col gap-y-2">
            <mat-form-field [appearance]="'outline'">
              <mat-label>Job Title</mat-label>
              <input
                matInput
                formControlName="jobTitle"
                type="text"
                required
                placeholder=""
              />
            </mat-form-field>
            <mat-form-field [appearance]="'outline'">
              <mat-label>Company</mat-label>
              <input
                matInput
                formControlName="company"
                type="text"
                required
                placeholder=""
              />
            </mat-form-field>

            <mat-form-field [appearance]="'outline'">
              <mat-label>From</mat-label>
              <input
                matInput
                formControlName="from"
                type="datetime"
                required
                placeholder=""
              />
            </mat-form-field>

            <mat-form-field [appearance]="'outline'">
              <mat-label>To</mat-label>
              <input
                matInput
                formControlName="to"
                type="datetime"
                required
                placeholder=""
              />
            </mat-form-field>
          </div>

          }
          <button mat-raised-button (click)="addNewExperience()">
            Add Experience
          </button>
        </div>
      </div>

      <div
        formArrayName="education"
        *ngIf="currentStateIndex() === 4"
        class="p-10"
      >
        @for (item of getEducationForm.controls; track $index) {
        <p class="text-3xl pb-2">Education</p>

        <div [formGroupName]="$index" class="flex flex-col gap-y-2 grid-cols-2">
          <mat-form-field [appearance]="'outline'">
            <mat-label>University</mat-label>
            <input
              matInput
              formControlName="university"
              type="text"
              required
              placeholder=""
            />
          </mat-form-field>
          <mat-form-field [appearance]="'outline'">
            <mat-label>Degree</mat-label>
            <input
              matInput
              formControlName="degree"
              type="text"
              required
              placeholder=""
            />
          </mat-form-field>

          <mat-form-field [appearance]="'outline'">
            <mat-label>field</mat-label>
            <input
              matInput
              formControlName="field"
              type="text"
              required
              placeholder=""
            />
          </mat-form-field>

          <mat-form-field [appearance]="'outline'">
            <mat-label>From</mat-label>
            <input
              matInput
              formControlName="from"
              type="datetime"
              required
              placeholder=""
            />
          </mat-form-field>

          <mat-form-field [appearance]="'outline'">
            <mat-label>To</mat-label>
            <input
              matInput
              formControlName="to"
              type="datetime"
              required
              placeholder=""
            />
          </mat-form-field>
        </div>

        }
      </div>

      <div
        formGroupName="profile"
        *ngIf="currentStateIndex() === 5"
        class="p-10"
      >
        <mat-form-field [appearance]="'outline'">
          <mat-label>Profile</mat-label>
          <input
            matInput
            formControlName="image"
            type="text"
            required
            placeholder=""
          />
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="flex flex-row items-center justify-center gap-x-20">
    <button mat-raised-button (click)="onBack()">Back</button>
    <button mat-raised-button (click)="onNext()">Next</button>
  </div>
</div>
