<div class="w-full h-full flex flex-row">
  <div class="flex flex-row w-full items-center">
    <div>Upload Resume</div>
    <div class="initial-step"></div>
    <mat-progress-bar
      class="bg-slate-800 w-full"
      mode="determinate"
      value="40"
    ></mat-progress-bar>
    <div class="initial-step"></div>
  </div>

  <div class="flex flex-row w-full items-center">
    <mat-progress-bar
      class="bg-slate-800 w-full"
      mode="determinate"
      value="40"
    ></mat-progress-bar>
    <div></div>
    <div class="initial-step"></div>
  </div>

  <div class="flex flex-row w-full items-center">
    <mat-progress-bar
      class="bg-slate-800 w-full"
      mode="determinate"
      value="40"
    ></mat-progress-bar>
    <div class="initial-step"></div>
  </div>

  <div class="flex flex-row w-full items-center">
    <mat-progress-bar
      class="bg-slate-800 w-full"
      mode="determinate"
      value="40"
    ></mat-progress-bar>
    <div class="initial-step"></div>
  </div>
</div>
