<div class="h-screen w-screen flex items-center justify-center bg-gradient-to-br from-green-400 to-blue-500">
  <div class="text-6xl text-white font-bold">
    {{ 'app.hello' | translate }}
  </div>
  <div class="absolute top-5 right-5">
    
    <form [formGroup]="languageForm">
      <mat-form-field>
        <mat-select formControlName="language">
          <mat-option *ngFor="let lang of languages" [value]="lang">
            {{ lang }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  
</div>